{% extends 'base.html.twig' %}

{% block title %}Inscription Sponsor{% endblock %}

{% block body %}
    <h1>Inscription Sponsor</h1>
    {{form_start(registrationForm)}}
    <input type="submit" value="Register">
    {{form_end(registrationForm)}}
{% endblock %}
